* {
    margin: 0;
    padding: 0;
}

.loading_wrapper {
    position: relative;
    width: 400px;
    height: 200px;
}

.loading_border {
    position: absolute;
    width: 350px;
    height: 20px;
    left: 25px;
    top: 90px;
    border: 1px solid #9e9eff;
}

.loading_panel {
    position: absolute;
    width: 240px;
    height: 20px;
    background-color: #9999ff;
}

.loading_percent {
    position: absolute;
    left: 200px;
    top: 3px;
    font-size: 10pt;
}

.modal_window {
    position: relative;
    width: 400px;
    height: 250px;
    border: 7px solid #757575;
}

.exit {
    position: absolute;
    left: 375px;
    margin: 5px;
}

.modal_header {
    position: relative;
    width: 400px;
    height: 83.3px;
}

.header_text {
    position: absolute;
    font-size: 14pt;
    margin: 30.6666666px;
}

.modal_main {
    position: relative;
    width: 400px;
    height: 83.3px;
}

.main_text {
    position: absolute;
    font-size: 12pt;
    margin: 30.6666666px;
}

.modal_close {
    position: relative;
    width: 400px;
    height: 83.3px;
}

.button_close {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 315px;
    top: 25px;
}