img {
    position: relative;
    width: 300px;
    top: 200px;
    left: 500px;
    transition: 6s;
    -webkit-transition: 6s;
}

img:hover {
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transition: 6s;
}